.errorModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: white;
    border: 2px solid #000;
    box-shadow: none;
    outline: none;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.bettingDisplay {
    display: flex;
    flex-direction: column;
    top: 80%;
    right: 5%;
    position: fixed;

    button {
        width: 7em;
    }
}

.bettingSlider {
    display: flex;
}

.communityCards {
    display: flex;
    position: fixed;
    top: calc(50% - 3em);
    left: calc(50% - 10.5em);
}

.communityCard {
    width: 3em;
    border-style: solid;
    text-align: center;
    margin: 0.3em;
}

.potChipsImg {
    width: 1.5em;
    height: 1.5em;
}

.potContainer {
    position: fixed;
    top: calc(50% - 5em);
    left: calc(50% - 4em);
    display: flex;
}

.roomAlert {
    width: 15em;
}

.showing {
    opacity: 0;
    transition: all 250ms linear 2s;
}